.main-section{
    position: relative;
    min-height: 80vh;
    .work-img{
        position: absolute;
        top: 70px;
        left: 0;
        height: 500px;
        width: auto;
    }
    .home-img{
        position: absolute;
        top: 70px;
        right: 0;
        height: 500px;
        width: auto;
    }
}